/*** Site Colors ***

pale-grey: #fafbfc
pale-grey-two: #dbe2e8
dark: #2e3d49
bluegrey: #7d97ad
aquamarine: #02ccba

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fafbfc;
}
